a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
output,
p,
pre,
q,
ruby,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video {
 margin:0;
 padding:0;
 border:0;
 font:inherit;
 vertical-align:baseline
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
 display:block
}
body {
 line-height:1
}
ol,
ul {
 list-style:none
}
blockquote,
q {
 quotes:none
}
blockquote:after,
blockquote:before,
q:after,
q:before {
 content:'';
 content:none
}
table {
 border-collapse:collapse;
 border-spacing:0
}
h1,
p {
 font-family:"Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
 font-weight:300;
 -webkit-margin-before:0;
 -webkit-margin-after:0
}
.label {
 font-size:120px;
 font-family:HelveticaNeue-Thin,"Helvetica Neue Thin",Helvetica,Arial,"Lucida Grande",sans-serif
}
button {
 background:0 0;
 border:none;
 color:#157DFB;
 cursor:pointer;
 font-family:HelveticaNeue-Light,"Helvetica Neue Light",Helvetica,Arial,"Lucida Grande",sans-serif;
 font-weight:500;
 letter-spacing:1.2px;
 outline:0;
 -webkit-transition:color .2s;
 transition:color .2s
}
@-moz-document url-prefix() {
 .label,
 button {
  font-family:HelveticaNeue-Light,"Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif
 }
 button {
  font-weight:300
 }
 .label {
  font-weight:200
 }
}
button:active {
 color:#CCE3FD;
 -webkit-transition:color .2s;
 transition:color .2s
}
.tap-button {
 font-size:25px;
 margin-top:50px;
 -webkit-user-select:none;
 -moz-user-select:none;
 -ms-user-select:none;
 user-select:none
}
.ios-nav-bar {
 position:absolute;
 top:0;
 left:0;
 right:0;
 display:-webkit-box;
 display:-ms-flexbox;
 display:flex;
 -webkit-box-pack:justify;
 -ms-flex-pack:justify;
 justify-content:space-between;
 -webkit-box-align:center;
 -ms-flex-align:center;
 align-items:center;
 -webkit-column-count:3;
 column-count:3;
 padding:1em
}
.ios-nav-bar button {
 font-size:18px
}
.ios-nav-bar .title {
 font-weight:400;
 font-size:18px
}
.ios-nav-bar .nav-item {
 width:94px
}
.ios-nav-bar .nav-item:nth-child(1) {
 text-align:left
}
.ios-nav-bar .nav-item:nth-child(2) {
 text-align:center
}
.ios-nav-bar .nav-item:nth-child(3) {
 text-align:right
}
.tap-container {
 display:-webkit-box;
 display:-ms-flexbox;
 display:flex;
 -webkit-box-pack:center;
 -ms-flex-pack:center;
 justify-content:center;
 -webkit-box-orient:horizontal;
 -webkit-box-direction:normal;
 -ms-flex-direction:row;
 flex-direction:row;
 -webkit-box-align:center;
 -ms-flex-align:center;
 align-items:center;
 height:100vh
}
.tap-contents {
 text-align:center
}
@media (max-height:250px) {
 .tap-container {
  height:auto
 }
}
